.angled-border
  content: ""
  position: absolute
  display: block
  width: 100%
  background: transparent
  bottom: -50px
  height: 0
  border-top: 0px solid transparent
  border-left-width: 1336px
  border-bottom: 50px solid transparent
  border-left-color: #23cdd
  border-left-style: solid