.angled-border
  content: ""
  position: absolute
  display: block
  width: 100%
  background: transparent
  bottom: -50px
  height: 0
  border-top: 0px solid transparent
  border-left: 1336px solid #234cdd
  border-bottom: 50px solid transparent