.incoin-button
  border: 1px solid #91bffc
  border-radius: 100px
  padding: 7px 25px
  +single-transition(all, 0.5s)

  &:hover
    background: #91bffc
    color: #fff
    text-decoration: none
    border: 1px solid #fff

.try-it-button
  +single-transition(all, 0.5s)
  text-transform: uppercase
  background: transparent
  border: 1px solid #fff
  border-radius: 100px
  color: #fff
  font-size: 16px
  padding: 5px 30px

  &:hover
    background: #fff
    text-decoration: none
    border-color: transparent

.try-it-button.about
  +single-transition(all, 0.5s)
  text-transform: uppercase
  background: transparent
  border: 1px solid #00bfed
  border-radius: 100px
  color: #00bfed
  font-size: 16px
  padding: 5px 30px

  &:hover
    background: #00bfed
    color: #fff
    text-decoration: none
    border-color: transparent

.picture-button
  +single-transition(all, 0.5s)
  text-transform: uppercase
  background: transparent
  border: 1px solid #FB6653
  border-radius: 100px
  color: #FB6653
  font-size: 16px
  padding: 5px 30px

  &:hover
    background: #FB6653
    color: #fff
    text-decoration: none
    border-color: transparent

.text-arrow
  width: 100%
  a
    text-transform: uppercase
    text-decoration: none
    color: #666
    margin: 1em 0
    display: inline-block
  svg
    display: inline-block
    margin: 0 auto
    height: 15px
    text-align: center
    margin: 5px 0 -3px
    .arrow
      fill: #666

  &:hover
    a
      color: #234cdd
    .arrow
      fill: #234cdd
  &.white:hover
    a
      color: #fff !important
    .arrow
      fill: #fff !important