.navbar
  background-color: transparent
  border: none
  position: absolute
  top: 3em
  margin: 0
  padding: 0
  width: 100%
  z-index: 999

  .container-fluid
    width: 90%

  .incoin-logo
    display: block
    background: image-url('/assets/images/PNG/Logo-Header-main.png')
    background: image-url('/assets/images/SVG/Logo-Header-main.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    width: 100px
    height: 100px

  .navbar-item
    padding: 0
    .logo-container
      top: 0
      margin-right: 4.5em
    li
      list-style-type: none
      display: inline-block
      margin: 0 1em
      text-transform: uppercase
      font-size: 15px
      position: relative
      top: -3em
      font-weight: lighter
      a
        color: #8bc0fb
        +single-transition(all, 0.25s)
        &.selected, &:hover
          color: #fff
          text-decoration: none
          padding-bottom: 5px
          border-bottom: 2px solid #fff
    &.left
      float: left
    &.right
      float: right
      li
        font-weight: bold
        top: 2.5em