#simple-pricing
  background: #FFCC46
  color: #fff
  background-repeat: no-repeat
  background-size: contain
  background-position: center

  h1
    margin: 0
    text-align: center
    color: #fff
    padding: 3em 0
    font-weight: lighter
    font-size: 50px

#slider-section
  margin-top: -6em
  padding-bottom: 4em
  .header
    font-weight: lighter
    text-align: center
    margin: 2em 0
  .tab-title
    text-align: center
    padding: 0
    li
      display: inline-block
      list-style: none
      padding: 0 3em
      cursor: pointer

    .image
      height: 100px
      width: 100px
      display: block
      background-repeat: no-repeat
      background-size: contain
      background-position: center
      margin: 0 auto

    .title
      text-align: center
      display: block
      font-size: 25px
      margin: 0.3em 0

    .employer.active
      .image
        background-image: image-url('/assets/images/PNG/Homepage-Employers-Pricing.png')
        background-image: image-url('/assets/images/SVG/Homepage-Employers-Pricing.svg')

  .prices
    padding: 1.5em 0
    text-align: center
    > div
      display: inline-block
      span
        line-height: 1
      p
        margin: 0 0 0 10px

      .dollar
        position: relative
        font-size: 35px
        top: -5px
      .amount
        font-size: 55px
      .monthly
        font-size: 20px

      .plus
        font-size: 40px
        position: relative
        top: -25px
        padding: 0 .5em

      .price-description
        display: block
        color: #7f8a8f
        font-size: 16px
        position: relative
        top: -5px

  .slider-container
    background: #f7f5ef
    width: 60%
    margin: 0 auto
    .drag-to
      text-transform: uppercase
      color: #7f8a8f
      text-align: center
      padding: 3em 0 6em
    #slider
      height: 25px
      width: 60%
      margin: 0 auto
      border-radius: 100px

      .ui-slider-handle
        top: 0
        border-radius: 100px
        width: 24px
        height: 24px
        border: 2px solid #ff9a67
        outline: none
      .ui-widget-header
        background: #ff9a67
        border-radius: 100px
        border-top-right-radius: 0
        border-bottom-right-radius: 0

      .price-calc
        width: 115px
        position: absolute
        bottom: 2em
        left: -3em
        .base, .dollar
          font-weight: lighter
        .dollar
          font-size: 21px
          position: relative
          top: -2px
          right: -3px
        .total
          font-size: 27px
        p
          line-height: 1.2
          color: #ff9a67
          margin: 0
          text-align: center
    .info
      padding: 4em 0
      h2
        text-align: center
        margin: 0
        .orange
          color: #ff9a67
  .asterisk
    color: #7f8a8f
  .asterisk-text
    position: absolute
    font-weight: lighter

  .just-one
    font-weight: lighter
    text-align: center
    padding: 1.5em 0

  .subheader
    color: #00bfed
    font-size: 1.5vw
    text-align: center
    p,a
      display: inline-block
    .try-it-button
      color: #00bfed
      border-color: #00bfed
      padding: 2px 25px
      font-size: 14px
      padding: 5px 25px
      position: relative
      top: -4px
      &:hover
        background: #00bfed
        color: #fff

#features-included
  background: #00bfed
  padding: 3em 0
  .row
    padding: 2em 0 1em
    font-size: 20px
  h2
    font-weight: lighter
  h2,p
    text-align: center
    color: #fff

  .text-arrow
    text-align: center
    a
      color: #4d4d4d

#unlimited-columns
  padding: 4em 0
  background: #f8f5ef
  .row
    padding: 2em 0
    > div
      padding: 0 3em
  .blue-text
    color: #00bfed
  p
    font-weight: lighter
    font-size: 20px
    text-align: right
  .border-left
    border-left: 2px solid #dbdad6
  .grey-text
    color: #808080
    text-align: left
    width: 360px
    font-style: italic

#faq
  position: relative
  padding: 8em 0
  background-repeat: no-repeat
  background-size: 85%
  background-position: center
  height: auto
  width: 100%
  h2, .trial
    text-align: center
    color: #00bfed
  h2
    margin: 0
    font-weight: lighter
    padding-bottom: 1em

  .faq-help
    color: #333
    padding-bottom: 1em

  .help-links
    display: block
    margin: 0 auto
    text-align: center
    padding-bottom: 1em
    .text-arrow
      display: inline-block
      width: 300px
  .trial
    p,a
      color: #00bfed
      display: inline-block
      font-size: 20px
    .try-it-button
      color: #00bfed
      border-color: #00bfed
      padding: 2px 25px
      font-size: 14px
      padding: 5px 25px
      position: relative
      top: -4px
      &:hover
        background: #00bfed
        color: #fff
